@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

$blue: rgb(75, 105, 227);

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    @include flex;
    background: $blue;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100vw;
}